# A. Set up Git and GitHub

- Install Git
- Create a GitHub account
- Create a new repository on GitHub

# B. Create a Virtual Environment in Python locally

# C. Install Pandas, Sklearn and Jupyter in the Virtual Environment

# D. Start putting your Git skills to use

# E. Undergo the following Regression exercise

## 1. Basic data exploration

Given the dataset below (df), perform the following:

In [4]:
import pandas as pd
df= pd.read_csv("C:\\Users\\moham\\Downloads\\hotel_bookings-230910-120017.csv")

Q1) Print out a random sample of 10 rows from the dataset

In [28]:
df.sample(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
72756,City Hotel,1,98,2017,August,31,5,2,1,2,...,No Deposit,9.0,NaN,0,Transient,155.00,0,1,Canceled,2017-05-24
118884,City Hotel,0,457,2017,August,34,25,0,2,2,...,No Deposit,6.0,NaN,0,Transient-Party,122.40,0,1,Check-Out,2017-08-27
381,Resort Hotel,1,95,2015,July,29,13,2,5,2,...,No Deposit,240.0,NaN,0,Transient,100.86,0,1,Canceled,2015-04-15
103625,City Hotel,0,9,2017,January,1,2,1,0,2,...,No Deposit,9.0,NaN,0,Group,148.00,0,1,Check-Out,2017-01-03
37131,Resort Hotel,0,165,2017,May,22,29,3,7,2,...,No Deposit,40.0,NaN,0,Contract,86.70,0,1,Check-Out,2017-06-08
9914,Resort Hotel,1,103,2017,January,4,22,4,9,2,...,No Deposit,240.0,NaN,0,Transient,86.00,0,0,Canceled,2016-12-13
76493,City Hotel,1,414,2015,December,49,5,2,1,2,...,Non Refund,1.0,NaN,0,Transient,62.00,0,0,Canceled,2015-07-23
92950,City Hotel,0,55,2017,March,10,5,1,0,1,...,No Deposit,NaN,40.0,0,Transient,65.00,1,0,Check-Out,2017-03-06
68773,City Hotel,1,66,2017,May,20,20,2,1,2,...,No Deposit,9.0,NaN,0,Transient,180.00,0,1,Canceled,2017-03-16
101471,City Hotel,0,39,2016,November,46,10,0,3,2,...,No Deposit,8.0,NaN,0,Transient,135.00,0,1,Check-Out,2016-11-13

Q2) Display information on the dataset:

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

Q3) Display the dataset columns

In [11]:
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

Q4) Display statistical info of the the numeric columns in the dataset

In [12]:
df.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,103050.000000,6797.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,0.007949,0.031912,0.087118,0.137097,0.221124,86.693382,189.266735,2.321149,101.831122,0.062518,0.571363
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,0.097436,0.175767,0.844336,1.497437,0.652306,110.774548,131.655015,17.594721,50.535790,0.245291,0.792798
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,62.000000,0.000000,69.290000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,179.000000,0.000000,94.575000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000

Q5) Count the number of unique hotels in the dataset

In [13]:
df.hotel.unique()

array(['Resort Hotel', 'City Hotel'], dtype=object)

Q6) Identify the most popular country of origin for guests

In [22]:
cCounts = df['country'].value_counts()

maxC = cCounts.idxmax()

maxC

'PRT'

## 2. Data cleaning

Q5) Identify missing values in the columns

In [26]:
df.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

Q6) Calculate the precentage of the missing values in the columns

In [32]:
pct=(df.isnull().mean() * 100).round(2)
pct

hotel                              0.00
is_canceled                        0.00
lead_time                          0.00
arrival_date_year                  0.00
arrival_date_month                 0.00
arrival_date_week_number           0.00
arrival_date_day_of_month          0.00
stays_in_weekend_nights            0.00
stays_in_week_nights               0.00
adults                             0.00
children                           0.00
babies                             0.00
meal                               0.00
country                            0.41
market_segment                     0.00
distribution_channel               0.00
is_repeated_guest                  0.00
previous_cancellations             0.00
previous_bookings_not_canceled     0.00
reserved_room_type                 0.00
assigned_room_type                 0.00
booking_changes                    0.00
deposit_type                       0.00
agent                             13.69
company                           94.31
days_in_waiting_list               0.00
customer_type                      0.00
adr                                0.00
required_car_parking_spaces        0.00
total_of_special_requests          0.00
reservation_status                 0.00
reservation_status_date            0.00
dtype: float64

Q7) Examine the precentages of the missing values in the columns and perform missing value handling as needed

In [33]:
df=df.dropna()

## 3. Numeric data analysis

Q8) Calculate the average lead time for bookings

In [34]:
df.lead_time.mean()

40.52073732718894

Q9) Determine the maximum and minimum values for 'adr' (average daily rate)

In [39]:
print(min(df.adr))
print(max(df.adr))

0.0
246.0

Q10) Compute the total number of booking changes

In [44]:
df.booking_changes.sum()

279

## 4. Feature engineering

In [71]:
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,totalGuests
2392,Resort Hotel,0,6,2015,October,42,11,2,0,2,...,240.0,113.0,0,Transient,82.0,1,1,Check-Out,2015-10-13,2.0
2697,Resort Hotel,0,24,2015,October,44,26,7,15,1,...,185.0,281.0,0,Transient-Party,52.2,0,0,Check-Out,2015-11-17,1.0
2867,Resort Hotel,0,24,2015,November,45,3,0,3,2,...,334.0,281.0,0,Transient-Party,48.0,0,0,Check-Out,2015-11-06,2.0
2877,Resort Hotel,0,24,2015,November,45,3,2,10,1,...,328.0,281.0,0,Transient-Party,40.0,0,0,Check-Out,2015-11-15,1.0
2878,Resort Hotel,0,24,2015,November,45,3,3,10,2,...,326.0,281.0,0,Transient-Party,48.0,0,0,Check-Out,2015-11-16,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112499,City Hotel,0,13,2017,May,21,24,0,1,2,...,9.0,478.0,0,Transient-Party,150.0,0,1,Check-Out,2017-05-25,2.0
113046,City Hotel,0,13,2017,May,22,29,1,3,1,...,290.0,148.0,0,Transient,95.0,0,0,Check-Out,2017-06-02,1.0
113082,City Hotel,0,13,2017,May,22,29,1,3,2,...,290.0,148.0,0,Transient,110.0,0,0,Check-Out,2017-06-02,2.0
113627,City Hotel,0,210,2017,June,23,9,0,1,2,...,14.0,229.0,0,Transient,135.0,0,0,Check-Out,2017-06-10,2.0
116451,City Hotel,0,191,2017,July,29,16,2,2,2,...,9.0,421.0,0,Transient,120.6,0,2,Check-Out,2017-07-20,2.0

Q11) Create a new column that represents the total number of guests (adults, children, and babies) for each booking

In [49]:
pd.set_option('display.max_colwidth', None)

In [47]:

df['totalGuests']= df.adults+df.children+ df.babies

C:\Users\moham\AppData\Local\Temp/ipykernel_44640/4198481980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['totalGuests']= df.adults+df.children+ df.babies

Q12)  Create a new feature that calculates the total duration of stay for each booking. Show how to add this feature to the dataset

In [72]:
df['totalDuration']= df.stays_in_weekend_nights + df.stays_in_week_nights

In [73]:
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,totalGuests,totalDuration
2392,Resort Hotel,0,6,2015,October,42,11,2,0,2,...,113.0,0,Transient,82.0,1,1,Check-Out,2015-10-13,2.0,2
2697,Resort Hotel,0,24,2015,October,44,26,7,15,1,...,281.0,0,Transient-Party,52.2,0,0,Check-Out,2015-11-17,1.0,22
2867,Resort Hotel,0,24,2015,November,45,3,0,3,2,...,281.0,0,Transient-Party,48.0,0,0,Check-Out,2015-11-06,2.0,3
2877,Resort Hotel,0,24,2015,November,45,3,2,10,1,...,281.0,0,Transient-Party,40.0,0,0,Check-Out,2015-11-15,1.0,12
2878,Resort Hotel,0,24,2015,November,45,3,3,10,2,...,281.0,0,Transient-Party,48.0,0,0,Check-Out,2015-11-16,2.0,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112499,City Hotel,0,13,2017,May,21,24,0,1,2,...,478.0,0,Transient-Party,150.0,0,1,Check-Out,2017-05-25,2.0,1
113046,City Hotel,0,13,2017,May,22,29,1,3,1,...,148.0,0,Transient,95.0,0,0,Check-Out,2017-06-02,1.0,4
113082,City Hotel,0,13,2017,May,22,29,1,3,2,...,148.0,0,Transient,110.0,0,0,Check-Out,2017-06-02,2.0,4
113627,City Hotel,0,210,2017,June,23,9,0,1,2,...,229.0,0,Transient,135.0,0,0,Check-Out,2017-06-10,2.0,1
116451,City Hotel,0,191,2017,July,29,16,2,2,2,...,421.0,0,Transient,120.6,0,2,Check-Out,2017-07-20,2.0,4

Q13) Implement one-hot encoding for the 'market_segment' and 'distribution_channel' categorical columns

In [101]:
dff=pd.get_dummies(df, prefix=['market_segment', 'distribution_channel'], columns=['market_segment', 'distribution_channel'])

In [108]:
dff

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,market_segment_Complementary,market_segment_Corporate,market_segment_Direct,market_segment_Groups,market_segment_Offline TA/TO,market_segment_Online TA,distribution_channel_Corporate,distribution_channel_Direct,distribution_channel_GDS,distribution_channel_TA/TO
2392,Resort Hotel,0,6,2015,October,42,11,2,0,2,...,0,0,0,0,0,1,0,0,0,1
2697,Resort Hotel,0,24,2015,October,44,26,7,15,1,...,0,1,0,0,0,0,1,0,0,0
2867,Resort Hotel,0,24,2015,November,45,3,0,3,2,...,0,1,0,0,0,0,1,0,0,0
2877,Resort Hotel,0,24,2015,November,45,3,2,10,1,...,0,1,0,0,0,0,1,0,0,0
2878,Resort Hotel,0,24,2015,November,45,3,3,10,2,...,0,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112499,City Hotel,0,13,2017,May,21,24,0,1,2,...,0,0,0,0,0,1,0,0,0,1
113046,City Hotel,0,13,2017,May,22,29,1,3,1,...,0,0,0,0,1,0,0,0,0,1
113082,City Hotel,0,13,2017,May,22,29,1,3,2,...,0,0,0,0,1,0,0,0,0,1
113627,City Hotel,0,210,2017,June,23,9,0,1,2,...,0,0,1,0,0,0,0,1,0,0
116451,City Hotel,0,191,2017,July,29,16,2,2,2,...,0,0,0,0,0,1,0,0,0,1

## 5. Model building
The goal is to build a Linear Regression model to predict the ADR for future bookings.

Q14) Create a feature matrix (X) and a target vector (y) for training and testing.

In [109]:
X=dff[['totalGuests','totalDuration']]
y=dff['adr']

Q15) Import the Linear Regression model from a machine learning library such as Scikit-Learn

In [110]:
from sklearn.linear_model import LinearRegression

Q16) Instantiate the Linear Regression model

In [111]:
from sklearn.model_selection import train_test_split

In [112]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create a linear regression model
model = LinearRegression()

Q17) Train the model using the training data by calling the fit method

In [121]:
model.fit(X_train,y_train)

LinearRegression()

Q18) Make predictions on the test dataset

In [122]:
y_pred = model.predict(X_test)

### 6. Model evaluation

Q19) Evaluate the model's performance using regression metrics such as Mean Absolute Error (MAE), Mean Squared Error (MSE), and Root Mean Squared Error (RMSE)

In [125]:
import numpy as np
from sklearn.metrics import mean_absolute_error, mean_squared_error, mean_squared_log_error

# Calculate Mean Absolute Error (MAE)
mae = mean_absolute_error(y_test, y_pred)
print("Mean Absolute Error (MAE):", mae)

# Calculate Mean Squared Error (MSE)
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error (MSE):", mse)

rmse = np.sqrt(mse)
print("Root Mean Squared Error (RMSE):", rmse)

Mean Absolute Error (MAE): 22.24369063897778
Mean Squared Error (MSE): 1108.9668499710085
Root Mean Squared Error (RMSE): 33.3011538834769

Q20) Experiment with different feature engineering techniques or consider using regularization methods (e.g., Ridge or Lasso regression) to improve model performance.

# F. Additional: 

- Build a pipeline to automate the data preprocessing and model building steps
- Experiment with different machine learning models (e.g., Random Forest, XGBoost, etc.) to improve model performance
- Experiment with different hyperparameter tuning strategies (e.g., GridSearchCV, RandomizedSearchCV, etc.) to improve model performance
- Experiment with different feature selection techniques (e.g., SelectKBest, Recursive Feature Elimination, etc.) to improve model performance
- Experiment with different feature scaling techniques (e.g., StandardScaler, MinMaxScaler, etc.) to improve model performance
- Visualize the relationship between the target values and the features
- Visualize the predictions of the top best models
- Visualize the residuals of the top best models
- Visualize the coefficients of the top best models